.contenido{
    background-color: rgba(23,29,37,8.0);

}

.formulario{
    background-color: rgba(23,29,37,1);
    border-radius: 2%;
    width: 300px;
}

.letraazul{
color: rgba(29, 145, 255, 1);
}
.letrablanca{
    color: aliceblue;
}
.submit_azul{
    text-align: center;
    width: 40%;
    background-color: rgba(29, 145, 255, 1);
}